@using Syncfusion.Pdf
@using Syncfusion.Pdf.Grid;
@using Syncfusion.Drawing;
@using Syncfusion.Pdf.Graphics;
@inject Microsoft.JSInterop.IJSRuntime JS
@using System.IO;


@if (Language == "English")
{

    <p>Our Plan in English</p>
    <button @onclick="@DownloadFileFromURL">
        Download
    </button>
}
else
{

    <p>الخطة باللغة العربية</p>
    <button @onclick="@DownloadFileFromURL">
        تحميل
    </button>
}

@code {

    [Parameter]
    public string Language { get; set; }

    private async Task DownloadFileFromURL()
    {
        var fileURL = "";

        @if (Language == "English")
        {
            fileURL = "https://drive.google.com/file/d/1T1oITRgZWnkzCOd99lvGYEAzttfKL8Zb/view?usp=sharing";
        }
        else
        {
            fileURL = "https://github.com/Aml-Abbas/AljabhaAldemokratiaAlshaabia/blob/master/Shared/Resources/Arabic.txt";
        }


        // Download the PDF document
        JS.SaveAs("Sample.pdf", fileURL);

    }

}
