@page "/contact"

<h1>Contact us</h1>

<p>Here you will find information about how to contact us.</p>

<p>Visit our facebook page</p>
<p><a href="https://www.w3schools.com/" target="_blank">https://www.w3schools.com/</a></p>
<p>Or contact:</p>
<p><strong>Jihad Soliman</strong></p>
<p><a href="mailto: jihad.soliman1@gmail.com">Send Email to: jihad.soliman1@gmail.com</a></p>
<p><a href="tel:0046723758116">Call: 0046723758116</a></p>

<p>Mohamad Tawfiq</p>
<p><a href="mailto: jihad.soliman1@gmail.com">jihad.soliman1@gmail.com</a></p>
<p><a href="tel:0046723758116">0046723758116</a></p>



@code {

  
}
