@page "/contact"

<h1>Contact us</h1>

<p>Here you will find information about how to contact us.</p>

<p><a href="https://www.w3schools.com/">Visit our facebook page</a></p>
<p>Or </p>
<p>Or contact:</p>
<p>Jihad Soliman</p>
<a href="mailto: jihad.soliman1@gmail.com">Send Email</a>
<a href="tel:0046723758116">0046723758116</a>

<p>Mohamad Tawfiq</p>
<a href="mailto: jihad.soliman1@gmail.com">Send Email</a>
<a href="tel:0046723758116">0046723758116</a>



@code {

  
}
